#marcadaguaLogo { display: none !important; }
.grupo-imprimir {
    display: block;
    text-align: right;
}

.grupo-imprimir button.bto-imprimir, .grupo-imprimir button.bto-ajuda {
    border: 0px none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;

}
.grupo-imprimir button.bto-imprimir {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
  padding-top: 11.4px;
  padding-bottom: 11.4px;
  padding-left: 11.4px;
  padding-right: 11.4px;
}

.bto-imprimir .bto-lettering {
  top: -2px;
  position: relative;
}
.bto-imprimir .fa-print {
  font-size: 20px;
  margin-right: 3px;
}
.grupo-imprimir button.bto-ajuda  {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  float: right;
  position: relative;
  padding-top: 8.4px;
  padding-bottom: 10.4px;
  padding-left: 11.4px;
  padding-right: 11.4px;
}


.grupo-imprimir button.bto-ajuda span.fa.fa-comment {
    font-size: 25px;
}
.grupo-imprimir button.bto-ajuda span.fa.fa-question {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 14px;
}
.pdfobs {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 20px;
    overflow: auto;
    z-index: 99999;
}
.pdfobs a {
  text-decoration: underline;
  font-weight: 700;
}
.pdfobs .container {
    max-width: 640px;
}
.destaquePDFobs {

    padding: 20px;
    border-radius: 10px;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
}

.btn.btn-link.closePDFobs {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
}
.print {
  display: none;
}
/*.no-print {
  display: unset;
}*/

.btn-print {

    border-width: 3px;
}

@media print {
    #modal-id {
        display: none;
      }
      .col-lg-3 {
        width: 19%;
      }
      .tabela {
        display: flex;
      }
      .cabecalho {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        width: 100%;
        padding: 0 30px !important;
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .btn-informacao {
        display: none;
      }
      .cabecalho.claro {
        background: #497E96 !important;
      }
      .cabecalho.escuro {
        background: #38627E !important;
      }
      
      
      .mapa{
        width: 1080px;
        height: 600px;
        margin:50px auto;
        position: relative;
        display: block !important;
    }
    
    .area1{
        width: 358px;
        height: 156px;
        background: url(../images/banheiro.png) no-repeat;
        position: absolute;
        background-size: contain;
        top: 72px;
        cursor: pointer;
        left: 48px;
        padding: 73px 27px;
    }
    .area1:hover{
        background: url(../images/banheiro.png) no-repeat #E6E7E8;
        background-size: contain;
    }
    .area2{
        width: 402px;
        height: 235px;
        background: url(../images/administrativo.png) no-repeat;
        position: absolute;
        background-size: contain;
        bottom: 138px;
        cursor: pointer;
        padding-left: 30px;
        padding-top: 15px;
    }
    .area2:hover{
        background: url(../images/administrativo.png) no-repeat #E6E7E8;
        background-size: contain;
    }
    .area3{
        width: 317px;
        height: 467px;
        background: url(../images/corte.png) no-repeat;
        position: absolute;
        background-size: contain;
        bottom: 138px;
        cursor: pointer;
        left: 398px;
        padding-top: 150px;
        padding-left: 15px;
    }
    .area3:hover{
        background: url(../images/corte.png) no-repeat #E6E7E8;
        background-size: contain;
    }
    .area4{
        width: 308px;
        height: 241px;
        background: url(../images/pintura.png) no-repeat;
        position: absolute;
        background-size: contain;
        top: -5px;
        cursor: pointer;
        right: 62px;
        padding-top: 13px;
        padding-left: 12px;
    }
    .area4:hover{
        background: url(../images/pintura.png) no-repeat #E6E7E8;
        background-size: contain;
    }
    .area5{
        width: 308px;
        height: 227px;
        background: url(../images/soldagem.png) no-repeat;
        position: absolute;
        background-size: contain;
        cursor: pointer;
        top: 235px;
        right: 62px;
        padding-top: 13px;
        padding-left: 12px;
    }
    .area5:hover{
        background: url(../images/soldagem.png) no-repeat #E6E7E8;
        background-size: contain;
    }
    .area6{
        width: 404px;
        height: 133px;
        background: url(../images/almoxarifado.png) no-repeat;
        position: absolute;
        background-size: contain;
        bottom: 9px;
        cursor: pointer;
        right: 62px;
        padding-left: 33px;
        padding-top: 50px;
    }
    .area6:hover{
        background: url(../images/almoxarifado.png) no-repeat #E6E7E8;
        background-size: contain;
    }
}